.header {
  padding: 10px 20px;
  background-color: #131a22;

}
.header-nav {
  background-color: #131a22;
}

.nav-links li {
  border-bottom: 1px solid transparent;
}

.nav-links li:hover {
  border-bottom: 1px solid #fff;
}

.nav-links a {
  font-size: 1.3rem;
  font-weight: 300;
}

.nav-links a:last-child {
  padding-right: 0;
}

