.nav {
  background-color: #009fc9;
}
 
nav .brand-logo {
  left: 32%;
}

@media screen and (min-width: 500px) {
  nav .brand-logo {
    left: 22%;
  }
}

@media screen and (min-width: 1000px) {
  nav .brand-logo {
    left: 15%;
  }
}